<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
        <title>home</title>
    </head>
<body>
        <% if(validacao.length > 0){ %>
            <div class='alert alert-danger'>
                <strong>Atençao!</strong>
                <ul>
                    <% for (var i = 0; i < validacao.length; i++){ %>
                        <li><%=validacao[i].msg%></li>
                    <% } %>
                </ul>
            </div>
        <% } %>
        
    <h1>TAg</h1>
    <form action="/tagr" method="post">
        <h2>Conta:</h2>
        <label>Tag:</label>
        <input type="password"  id="tag" name="tag" placeholder="ex: 123123 " />
        <br />
        <input type="submit" value="Enviar" />
</body>
</html>
