<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
        <title>Menu Administrador</title>
    </head>
<body>

    <h1>Menu ADM</h1>
    <button onclick="window.location.href='/tag';">Tag</button>
    <button onclick="window.location.href='/sair';">sair</button>
    <button onclick="window.location.href='/abrir';">abrir</button>
</body>
</html>